@charset "UTF-8";

/* Fonte principal definida RALEWAY */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definindo as cores que o site usara e variaveis para cada cor*/
:root {
    --cor01:white;

}

/* Aplicando border box em todo o site para que o tamanho das caixas seja calculado junto com a borda e padding*/
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


/* HEADER*/
.header-flex{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.082);
    background-color: rgba(0, 0, 0, 0.027);
}

.logo-pqn{
   margin: 4px auto;
   
}

.logo-pqn img{
    border-radius: 8px;
}

a.menu{
    text-decoration: none;
    padding: 8px 20px;
    text-align: center;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.034);
}    

a:hover{
    background-color:  rgba(0, 0, 0, 0.850);
    color: white;
}

/*Bloco Empresa */
.imagem-emp {
    display: flex;
    background: url(imagens/mac.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    position: relative;
}

div.text-container {
    position: absolute;
    color: rgba(255, 255, 255, 0.863);
    font-size: 20pt;
    margin: 20% 7% 20% 7%;
    line-height: 40px;
}

p.text2{
   margin-top: 40px;
   font-size: 12pt;
   line-height: 20px;
}

div.botao1{
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.589);
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.815);
    font-size: 0.6em;
    text-align: center;
    padding: 5px;
    width: 280px;
    box-shadow: 1px 1px 2px rgba(250, 250, 250, 0.26);
}
div.botao1:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

div.icones{
    position: absolute;
    margin-top: 460px;
    margin-left: 30px;
    font-size: 1.3em;
}

div.icones a{
    color: rgba(255, 255, 255, 0.301);
    
}

div.icones a:hover{
    color: rgba(255, 255, 255, 0.205);
}

/* Terceira parte Projetos*/

.container-proj {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.proj-text {
    padding:30px 15px;
    text-align: center;
}

.proj-text h2{
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 30px;
}

.proj-text p{
    line-height: 25px;
    font-weight: 500;
}

.square {
    font-size: 9px;
    text-align: center;
    border: 1px solid rgba(248, 7, 7, 0.432);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.100);
    width: 220px;
    height: 220px;
    margin: 30px auto;
    border-radius: 5px;
    padding: 13px;
    padding-top: 4px;
}

.square img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}





/* Layout responsivo para laptops*/
@media only screen and (min-width: 600px) {
    .header-flex{
        flex-direction: row;
    }
    a.menu {
    padding: 35px 20px;
    }  
    .logo-pqn {
        background-color: rgba(0, 0, 0, 0.000);
        margin-left: 10px;
    }
    .imagem-emp {
        height: 655px;
    }
    div.text-container {
        font-size: 35pt;
        margin: 10% 10% 20% 5%;
        line-height: 60px;
        max-width: 800px;
    }
    p.text2{
        margin-top: 35px;
        font-size: 15pt;
        line-height: 25px;
     }
     div.botao1{
        margin-top:50px ;
        width: 360px;
        font-size: 0.4em;
     }
     div.icones{
        position: absolute;
        margin-top: 580px;
        margin-left: 75px;
        font-size: 2em;
    }
    /* Terceira parte para laptops*/

    .container-proj{
        display: flex;
        flex-direction: row;
        min-height: 850px; ;
    }

    .square-container{
    }

    .proj-text{
        max-width: 45%;
        padding-top: 300px;
        padding-left: 100px;
        text-align: left;
    }

    .proj-text h2 {
        font-weight: 600;
        font-size: 2.9vw;
        line-height: 60px;
    }

    .square-container{
        display: flex;
        flex-wrap: wrap;
        width: 55%;
        align-content: center;
        padding-right: 120px;

    }
    .square {
        font-size: 16px;
        margin-top: 100px;
        margin-bottom: 15px;
        margin-right: 15px;
        margin-left: 15px;
        padding: 15px;
        width: 270px;
        height: 270px;

    }

    .square img{
        width: 85px;
        height: 85px;
        border-radius: 50%;}
    
    .square2{
        margin-top: 130px;
        margin-left: 25px;
    }
    .mail{
        margin-top: 0px;
    }

    .suporte{
        margin-top: 30px;
    }

}


@media only screen and (max-width:768px) {
    .square {
        width: 150px;
        height: 150px;
    }
}