@charset "UTF-8";

/* Fonte principal definida RALEWAY */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definindo as cores que o site usara e variaveis para cada cor*/
:root {
    --cor01:white;

}

/* Aplicando border box em todo o site para que o tamanho das caixas seja calculado junto com a borda e padding*/
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


/* HEADER*/
.header-flex{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.082);
    background-color: rgba(0, 0, 0, 0.027);
}

.logo-pqn{
   margin: 4px auto;
   
}

.logo-pqn img{
    border-radius: 8px;
}

a.menu{
    text-decoration: none;
    padding: 8px 20px;
    text-align: center;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.034);
}    

a:hover{
    background-color:  rgba(0, 0, 0, 0.850);
    color: white;
}

/*Bloco Empresa */
.imagem-emp {
    display: flex;
    background: url(imagens/mac.jpg) no-repeat center; 
    background-size: cover;
    height: 500px;
    position: relative;
    margin-bottom: 50px;
}

div.text-container {
    position: absolute;
    color: rgba(255, 255, 255, 0.863);
    font-size: 20pt;
    margin: 20% 7% 20% 7%;
    line-height: 40px;
}

p.text2{
   margin-top: 40px;
   font-size: 12pt;
   line-height: 20px;
}

div.botao1{
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.589);
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.815);
    font-size: 0.6em;
    text-align: center;
    padding: 5px;
    width: 280px;
    box-shadow: 1px 1px 2px rgba(250, 250, 250, 0.26);
}
div.botao1:hover {
    background-color: rgba(255, 255, 255, 0.815);
}

div.icones{
    position: absolute;
    margin-top: 460px;
    margin-left: 30px;
    font-size: 1.3em;
}

div.icones a{
    color: rgba(255, 255, 255, 0.301);
    
}

div.icones a:hover{
    color: rgba(255, 255, 255, 0.205);
}

/* Terceira parte Projetos mobile*/

.row{
    display: flex;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-wrap: wrap;
    flex: 40%;
    padding: 40px;
    align-content: center;
}

.left h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.left p{
    margin-bottom: 30px;
}

.right {
    display: flex;
    flex: 60%;
    padding-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: center;
}

.square {
    border: 1px solid rgba(248, 7, 7, 0.432);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.100);
    height: 250px;
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 15px;        }

.square img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.botao {
    text-align: center;
    width: 170px;
    padding: 15px;
    font-size: 20px;
    background-image: linear-gradient(to right,  rgba(0, 0, 255, 0.87), rgba(76, 0, 130, 0.664));
    color: white;
    border-radius: 3px;
    text-decoration: none;
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a.menu{
        padding: 35px 20px;
    }
     .logo-pqn {
        margin-left: 10px;
    }
    .header-flex{
        flex-direction: row;
    }
    .square{
      height: 200px;
      width: 200px;
      font-size: 14px;
      padding:7px;
      margin: 10px;
    }
    .square img{
    height: 70px;
    width: 70px;
    } 
    .left h2{
        font-size: 26px;
    }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    a.menu{
        padding: 35px 20px;
    }
    .logo-pqn {
        margin-left: 10px;
    }
    .square{
        height: 250px;
        width: 250px;
        font-size: 14px;
        padding:7px;
        margin: 10px;
      }
      .square img{
      height: 70px;
      width: 70px;
      } 
      .left h2{
          font-size: 35px;
      }
      div.botao1{
        margin-top:10px ;
        width: 340px;
        font-size: 0.6em;
     }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Primeira parte */
@media only screen and (min-width: 1200px) {
    a.menu{
        padding: 35px 20px;
    }
    .header-flex{
        flex-direction: row;
    }
    .logo-pqn {
        margin-left: 10px;
    }
    .imagem-emp {
        height: 655px;
    }
    div.text-container {
        font-size: 35pt;
        margin: 10% 10% 20% 5%;
        line-height: 60px;
        max-width: 800px;
    }
    p.text2{
        margin-top: 35px;
        font-size: 15pt;
        line-height: 25px;
     }
     div.botao1{
        margin-top:50px ;
        width: 360px;
        font-size: 0.4em;
     }
     div.icones{
        position: absolute;
        margin-top: 580px;
        margin-left: 75px;
        font-size: 2em;
    }
    /* Terceira parte para laptops*/
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    .left {
        display: flex;
        flex-wrap: wrap;
        flex: 40%;
        padding: 40px 10px 40px 70px;
        align-content: center;
    }
    
    .left h2{
        font-size: 35px;
        margin-bottom: 30px;
    }
    
    .left p{
        margin-bottom: 30px;
    }
    
    .right {
        display: flex;
        flex: 60%;
        padding-left: 20px;
        padding-top: 50px;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    
    .square {
        border: 1px solid rgba(248, 7, 7, 0.432);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.100);
        height: 250px;
        width: 300px;
        margin: 20px;
        text-align: center;
        padding: 15px;
        font-size: 15px ;       
    }
    
    .square img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .botao {
        text-align: center;
        width: 170px;
        padding: 15px;
        font-size: 20px;
    }



